*.iml
.gradle
/local.properties
/.idea/shelf
/.idea/workspace.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/externalDependencies.xml
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
